{% extends "base/mdb.html" %}
{% load static %}

{% block home %}
<div class="container-fluid bg-light">

    <!--Navbar-->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-wrap2 flex-md-nowrap p-0">
        <a class="navbar-brand col-auto mr-0" href="#">Brand</a>

        <!-- <Toogler> -->
        <button class="navbar-toggler d-md-none mt-1 mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- </Toogler> -->

        <ul class="navbar-nav navbar-expand-md pl-2 pr-3">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-nowrap">
                    <!-- <Home> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">1
                            <i class="fa fa-home"></i>Home
                        </a>
                    </li>
                    <!-- </Home> -->
                    <!-- <Envelope> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">1
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <!-- </Envelope> -->
                    <!-- <Bell> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">1
                            <i class="fa fa-bell"></i>
                        </a>
                    </li>
                    <!-- </Bell> -->
                    <!-- <Profile> -->
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="{% static user.image %}" class="rounded-circle z-depth-0 image-profile" alt="avatar image">
                            {{ user.firstname }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                        </div>
                    </li>
                    <!-- </Profile> -->
                    <!-- <Friends> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">1
                            <i class="fa fa-star"></i>
                        </a>
                    </li>
                    <!-- </Friends> -->
                </ul>
            </div>
        </ul>
    </nav>
    <!--/.Navbar-->

    <!-- <Separator> -->
    <div class="row">
        <div class="col-sm-12 mb-4"></div>
    </div>
    <!-- </Separator> -->

    <!-- <Page> -->
    <div id="page" class="row">
        <!-- <Left> -->
        <div id="left" class="col-sm-3 mr-0 ml-4 bg-white">
            <!-- <SearchBox> -->
            <div class="input-group md-form form-sm form-2 pl-0">
                <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
                            aria-hidden="true"></i></span>
                </div>
            </div>
            <!-- </SearchBox> -->
            <!-- <Map> -->
            <div id="map" class="map">
                <img src="{% static map.jpg %}" class="img-thumbnail">
            </div>
            <!-- </Map> -->
            <!-- <Separator> -->
            <div class="row">
                <div class="col-sm my-4 bg-secondary"></div>
            </div>
            <!-- </Separator> -->
        </div>
        <!-- </Left> -->

        <!-- <Center> -->
        <div id="center" class="col-sm-5 mr-0 ml-2 bg-white">
            <!-- <writePost> -->
            <div class="form-group">
                <label for="writePost"></label>
                <textarea class="form-control" id="writePost" rows="3" placeholder="Start a discussion"></textarea>
            </div>
            <!-- </writePost> -->

            <!-- <Separator> -->
            <div class="row">
                <div class="col-sm my-4 bg-secondary"></div>
            </div>
            <!-- </Separator> -->


            <!-- <Posts> -->
            <div id="posts">
                {% for post in posts %}
                <!-- <Post> -->
                <div id="post">
                    <!-- <ProfileImage> -->
                    <div>
                        <img src="{% static post.image %}" class="rounded-circle z-depth-0 image-profile">
                    </div>
                    <!-- </ProfileImage> -->
                    <h2>{{ post.author }}</h2>
                    <p>{{ post.content }}</p>
                    <small>{{ post.date }}</small>
                    <small><b>{{ post.location }}</b></small>
                </div>
                <!-- </Post> -->
                <!-- <Post Separator> -->
                <div class="row">
                    <div class="col-sm my-4 bg-secondary"></div>
                </div>
                <!-- </Post Separator> -->
                {% endfor %}
                Other posts here
            </div>
            <!-- </Posts> -->
        </div>
        <!-- </Center> -->
        <!-- <Right> -->
        <div id="right" class="col-sm-3 ml-2 mr-0 bg-white">
            INFO
        </div>
        <!-- </Right> -->
    </div>
    <!-- </Page> -->

</div>
{% endblock home %}