{% extends "base/mdb.html" %}
{% load static %}

{% block home %}

<div class="container-fluid bg-light">

    <!--Navbar-->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-wrap2 flex-md-nowrap p-0">
        <a class="navbar-brand col-auto mr-0" href="#">K</a>

        <!-- <Toogler> -->
        <button class="navbar-toggler d-md-none mt-1 mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- </Toogler> -->

        <ul class="navbar-nav navbar-expand-md pl-2 pr-3">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-nowrap">
                    <!-- <NavbarHome> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fa fa-home"></i>Home
                        </a>
                    </li>
                    <!-- </NavbarHome> -->
                    <!-- <Envelope> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">2
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <!-- </Envelope> -->
                    <!-- <Bell> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">3
                            <i class="fa fa-bell"></i>
                        </a>
                    </li>
                    <!-- </Bell> -->
                    <!-- <Reputation> -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">5
                            <i class="fa fa-star"></i>
                        </a>
                    </li>
                    <!-- </Reputation> -->
                    <!-- <Profile> -->
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="{% static user.image %}" class="rounded-circle z-depth-0 image-profile ml-1" alt="avatar image"
                                style="width:15px; height:15px">
                            {{ user.firstname }}
                        </a>
                        <div class="dropdown">
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- </Profile> -->
                </ul>
            </div>
        </ul>
    </nav>
    <!--/.Navbar-->

    <!-- <Separator> -->
    <div class="row">
        <div class="col-sm-12 mb-4"></div>
    </div>
    <!-- </Separator> -->

    <!-- <Page> -->
    <div id="page" class="row">
        <!-- <Left> -->
        <div id="left" class="col-sm-3 mr-0 ml-3 bg-white">
            <!-- <SearchBox> -->
            <div class="input-group md-form form-sm form-2 pl-0">
                <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
                            aria-hidden="true"></i></span>
                </div>
            </div>
            <!-- </SearchBox> -->
            <!-- <Map> -->
            <div id="map" class="map">
                <img src="{% static user.location %}" class="img-fluid">
            </div>
            <!-- </Map> -->
            <!-- <Separator> -->
            <div class="row">
                <div class="col-sm my-4 bg-secondary"></div>
            </div>
            <!-- </Separator> -->
            <!-- <OtherSites> -->
            <div>
                <h6 class="pb-2">Other Locations</h6>
            </div>
            {% for site in sites %}
            <div>
                <a href="#">{{ site.name }}</a><br>
                {{ site.content }}
            </div>
            <div class="dropdown-divider"></div>
            {% endfor %}
            <!-- </OtherSites> -->
        </div>
        <!-- </Left> -->

        <!-- <Center> -->
        <div id="center" class="col-sm-6 mr-0 ml-2 bg-white">
            <!-- <writePost> -->
            <div class="md-form">
                <textarea type="text" id="form7" class="md-textarea form-control" rows="1" placeholder="Say something ..."></textarea>
                <label for="form7"></label>
                <!-- <ShareButton> -->
                <a href="#">
                    Post
                </a>
                <!-- </ShareButton> -->
            </div>
            <!-- </writePost> -->

            <!-- <Separator> -->
            <div class="row">
                <div class="col-sm my-4 bg-secondary"></div>
            </div>
            <!-- </Separator> -->

            <!-- <Posts> -->
            <div id="posts">
                {% for post in posts %}
                <!-- <Post> -->
                <div id="post">
                    <div class="row">
                        <div class="col-1">
                            <img src="{% static user.image %}" class="rounded-circle float-left z-depth-0 image-profile"
                                style="width:25px; height:25px">
                        </div>
                        <div class="col">
                            <span style="font-size:15px;"><b>{{ post.author }}</b> </span>
                            <a href="#"><small><b>@{{ post.location }}</b></small></a>
                            <small> - {{ post.date }} </small>
                        </div>
                        <div class="col-2">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" style="font-size:10px">Follow</a></li>
                                    <li><a href="#" style="font-size:10px">Hide</a></li>
                                    <li><a href="#" style="font-size:10px">Block</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" style="font-size:10px">Other</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <PostContent> -->
                    <div class="row mt-3">
                        <div class="col">
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                    <!-- </PostContent> -->

                    <div class="dropdown-divider"></div>

                    <!-- <PostReactions> -->
                    <div class="row">
                        <div class="col-2">
                            <a href="#"> <i class="fa fa-thumbs-o-up"></i> 3</a>
                        </div>
                        <div class="col-2">
                            <a href="#"> <i class="fa fa-comment-o"></i> 5</a>
                        </div>
                        <div class="col-2">
                            <a href="#"> <i class="fa fa-share"></i> 2</a>
                        </div>
                        <div class="col-2">
                            <a href="#"> <i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                    <!-- </PostReactions>> -->
                </div>
                <!-- </Post> -->
                <!-- <Post Separator> -->
                <div class="row">
                    <div class="col-sm my-4 bg-secondary"></div>
                </div>
                <!-- </Post Separator> -->
                {% endfor %}
                Other posts here
            </div>
            <!-- </Posts> -->
        </div>
        <!-- </Center> -->
        <!-- <Right> -->
        <div id="right" class="col-sm-2 ml-3 mr-0 bg-white">
            INFO
        </div>
        <!-- </Right> -->
    </div>
    <!-- </Page> -->

</div>
{% endblock home %}